
.register{
    background-color: #a1aefb;
}
.register-btn{
    background-color: #687cf1;
    border-color: #687cf1;
    border-radius: 25px;
}
.register-btn:hover{
    background-color: #2f4cf2;
}
.register-btn:active{
    color: #415bf2;
}