
<div class="sidebar-item">Admin</div>
<mat-list  role="list" class="sidebar-list">
  <a mat-list-item role="listitem" class="sidebar-list-item" routerLinkActive="active"
    routerLink="dashboard">Dashboard</a>
  <a mat-list-item role="listitem" class="sidebar-list-item" routerLinkActive="active"
    routerLink="products">Products</a>
  <a mat-list-item role="listitem" class="sidebar-list-item" routerLinkActive="active" routerLink="orders">Orders</a>
  <a mat-list-item role="listitem" class="sidebar-list-item" routerLinkActive="active"
    routerLink="customers">Customers</a>
  <a mat-list-item role="listitem" class="sidebar-list-item" routerLink="">Siteyi Gör</a>
</mat-list>