<mat-action-list role="list">
    <a mat-list-item role="listitem" class="sidebar-list-item" routerLink="/admin">Dashboard</a>
    <a mat-list-item role="listitem" class="sidebar-list-item" routerLink="products">Products</a>
    <a mat-list-item role="listitem" class="sidebar-list-item" routerLink="orders">Orders</a>
    <a mat-list-item role="listitem" class="sidebar-list-item" routerLink="customers">Customers</a>
    <a mat-list-item role="listitem" class="sidebar-list-item" routerLink="">Siteyi Gör</a>
  </mat-action-list>