
.login{
    background-color: #a1aefb;
}
.login-btn{
    background-color: #687cf1;
    border-color: #687cf1;
    border-radius: 25px;
}
.login-btn:hover{
    background-color: #2f4cf2;
}
.login-btn:active{
    color: #415bf2;
}