<div class="row my-5" *ngIf="state.state">
    <div class="col-md-3"></div>
    <div class="col-md-6 d-flex  rounded-3 justify-content-center" style="background-color: #a1aefb;">
        <div class="my-5 w-75">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control mb-3" id="password" placeholder="Password" #txtPassword>
            <label for="passwordConfirm" class="form-label">Password Confirm</label>
            <input type="password" class="form-control mb-3" id="passwordConfirm" placeholder="password Confirm" #txtPasswordConfirm>
        <button type="submit" (click)="updatePassword(txtPassword.value, txtPasswordConfirm.value)"
        class="btn login-btn my-3" style="border-radius:25px; margin-left:5px; background-color: #687cf1;">Şifreyi Güncelle
        </button></div>
    </div>
    <div class="col-md-3"></div>
</div>
<div class="alert alert-danger" role="alert" *ngIf="!state.state">
    Bu link kullanılamaktadır.
</div>