<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <nav class="navbar navbar-expand-lg app-navbar">
            <div class="container-fluid">
                <a class="navbar-brand" routerLink="">ETicaret</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link app-navbar-item" routerLinkActive="active" aria-current="page"
                                routerLink="home">Ana Sayfa</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link app-navbar-item" routerLinkActive="active" aria-current="page"
                                routerLink="products">Ürünler</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link app-navbar-item register" routerLinkActive="active" aria-current="page"
                                routerLink="register" *ngIf="!authService.isAuthenticated">Kayıt ol</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link app-navbar-item login" routerLinkActive="active" aria-current="page"
                                routerLink="login" *ngIf="!authService.isAuthenticated">Giriş yap</a>
                        </li>
                        <!-- <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle app-navbar-item" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Dropdown
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled">Disabled</a>
                        </li> -->
                        <li class="nav-item">
                            <a class="nav-link  app-navbar-item signOut" aria-current="page" (click)="signOut()"
                                *ngIf="authService.isAuthenticated">Çıkış yap</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" class="btn app-btn" type="submit"
                                routerLink="/admin" *ngIf="authService.isAuthenticated">Yönetici paneli</a>
                        </li>
                    </ul>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn app-btn" type="submit"><img style="cursor: pointer"
                                src="../../../../../assets/search.png" width="25" height="25"></button>
                    </form>
                    <div class="d-flex">
                        <button class="btn app-btn" type="submit" data-bs-toggle="modal"
                            data-bs-target="#basketModal" (click)="loadComponent()"> <img style="cursor: pointer"
                                src="../../../../../assets/basket.png" width="45" height="40"></button>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="col-md-2"></div>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8"><router-outlet></router-outlet></div>
    <div class="col-md-2"></div>
</div>
<ngx-spinner bdColor="rgba(0,0,0,0.6)" name="jelly-box" size="default" color="#8D9CF4"
    type="square-jelly-box"></ngx-spinner>
<ngx-spinner bdColor="rgba(0,0,0,0.6)" name="scale-multiple" size="default" color="#8D9CF4"
    type="ball-scale-multiple"></ngx-spinner>
<ngx-spinner bdColor="rgba(0,0,0,0.6)" name="ball-triangle" size="default" color="#8D9CF4"
    type="ball-triangle-path"></ngx-spinner>

<div class="modal fade" id="basketModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <ng-template appDynamicLoadComponent></ng-template>
    </div>
</div>