table {
    width: 100%;
    background-color: #ffe5eb;
    
  }
  .mat-paginator {
    font-size: small;
    background-color: #dc687b;
    border-radius: 5px;
  }  
  td, th {
    font-size: 12px;
  }
  .role-list-table-header{
    font-weight: bold;
    font-size: medium;
  }