<div class="container">
  <section class="ps-lg-4 pe-lg-3 pt-4">
    <div class="px-3 pt-2">
      <nav class="my-4" aria-label="breadcrumb">
        <ol class="breadcrumb flex-lg-nowrap">
          <li class="breadcrumb-item "><span style="cursor: pointer;" routerLink="/home"><img
                src="../../../../../assets/house-door.svg" width="12px" height="12px" style="margin-bottom: 5px;">
              Home</span></li>
          <li class="breadcrumb-item text-nowrap active" aria-current="page"> <span style="cursor: pointer;"
              routerLink="/products">Product catalog</span></li>
        </ol>
      </nav>
    </div>
    <section class="d-md-flex justify-content-between align-items-center mb-4 pb-2">
      <h1 class="h2 mb-3 mb-md-0 me-3">Product catalog</h1>
    </section>

    <div class="row g-0 mx-2">
      <div class="col-xl-3 col-lg-6 col-md-4 col-sm-6 px-2 mb-3" *ngFor="let product of products">
        <div id="productCart" class="card product-card card-static pb-3 shadow-lg" ro> 
          
            <div class="mx-5 my-5 py-4 px-4 product-image" >
            <img *ngIf="!product.productImageFiles.length" src="../../../../../assets/product-default.png"
              class="card-img-top" alt="product">
            <img *ngIf="product.productImageFiles.length" src="{{baseUrl.url}}/{{product.imagePath}}"
              class="card-img-top" alt="...">
          </div>
            <div class="card-body py-3">
              <h5 class="card-title">{{product.name}}</h5>
              <div class="product-price">
                <p class="card-text">{{product.price | currency:"₺"}} |<br> Stock : {{product.stock}}</p>
              </div>
            </div>
            
              <button class="btn shadow-lg product-floating-btn" type="button" (click)="addToBasket(product)" style="color: white;">
                 + <img src="../../../../../assets/basket.png" alt="delete-btn" width="25px"
                height="25px"></button>
            </div>
          </div>
        </div>

      <div class="py-4 pb-md-5 mb-4">
        <nav class="d-flex justify-content-between pt-2" aria-label="Page navigation">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" [routerLink]="['/products', currentPageNo - 1 <= 0 ? 1 : currentPageNo - 1]">
                <span aria-hidden="true">&laquo;Prev</span></a>
            </li>
          </ul>
          <ul class="pagination ">
            <li class="page-item">
              <a class="page-link" [routerLink]="['/products', currentPageNo - 1 <= 0 ? 1 : currentPageNo - 1]"
                aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item" *ngFor="let pageNo of pageList">
              <a class="page-link"  routerLinkActive="pagination-item-active" [routerLink]="['/products', pageNo]">{{pageNo}}</a>
            </li>
            <li class="page-item">
              <a class="page-link"
                [routerLink]="['/products', currentPageNo + 1 >= totalPageCount ? totalPageCount : currentPageNo + 1]"
                aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" [routerLink]="['/products', currentPageNo + 1 >= totalPageCount ? totalPageCount : currentPageNo + 1]">Next<span aria-hidden="true">&raquo;</span></a>
            </li>
          </ul>
        </nav>
      </div>
  </section>
</div>