table {
    width: 100%;
    background-color: #ffe5eb;
     
  }
 .mat-paginator {
    font-size: small;
    background-color: #f8a2b9;
  }  
  td, th {
    font-size: 12px;
  }
  .order-list-table-header{
    font-weight: bold;
    font-size: medium;
  }