.app-btn, .app-btn:active {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    opacity: 0.8;
    background-color : #fe4042   ;
}
.app-btn:hover {
    opacity: 1;
}

.product-image:hover{
    opacity: 0.5;
}