<section class="bg-accent bg-position-center bg-size-cover py-3 py-sm-5 shadow-lg"
    style="background-image: url(../../../../assets/home_welcome.png);">
    <div class="container py-5">
        <div class="row pt-md-5 pb-lg-5 justify-content-center">
            <div class="col-xl-7 col-lg-8 col-md-10 text-center py-xl-3">
                <h1 class="text-dark pb-sm-2"><img src="../../../../assets/logo.png" alt="logo"><br>E-Minik</h1><span
                    class="d-inline-block h4 text-dark fw-dark">Alışverişim mini adresine Hoş geldiniz.</span><span
                    class="d-inline-block h3 text-dark fw-dark ">Özenle seçilmiş ürünlerimiz sizi bekliyor.</span>
                <div class="py-4 py-sm-5"><a class="btn btn-lg app-btn shadow-lg" href="#shopping" data-scroll=""
                        routerLink="/products">Hemen
                        alişverişe başla. <img src="../../../../assets/basket.png" alt="basket" height="20px"
                            width="20px"></a></div>
            </div>
        </div>
    </div>
</section>
<section class="container pt-5 pb-3 pb-lg-5">
    <div class="text-center pt-md-4 pb-2">
        <h2><span class="fw-light">Hızlı alışveriş</span> E-Minik</h2>
        <p class="text-muted">Ürünlerin fazlalığı kafanızı karıştırıyorsa sizin için araştırdığımız uygun ve
            kaliteli
            ürünlere bakmaya ne dersiniz?</p>
    </div>

    <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1" (click)="carouselControl(1)"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"  (click)="carouselControl(2)"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"  (click)="carouselControl(3)"></button>
        </div>
        <div class="carousel-inner px-lg-5 py-5" >
                <div class="carousel-item active">
                    <div class="row mx-lg-5 px-5">
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 px-2" *ngFor="let product of products">
                            <div class="card product-card card-static shadow-lg">

                                <div class="mx-5 my-5 py-4 px-4">
                                    <img *ngIf="!product.productImageFiles.length" src="../../../../../assets/product-default.png"
                                      class="card-img-top" alt="product">
                                    <img *ngIf="product.productImageFiles.length" src="{{baseUrl.url}}/{{product.imagePath}}"
                                      class="card-img-top" alt="product">
                                </div>

                                <div class="card-body py-3">
                                    <h5 class="card-title">{{product.name}}</h5>
                                    <div class="product-price">
                                        <p class="card-text">{{product.price | currency:"₺"}} |<br> Stock : {{product.stock}}</p>
                                    </div>
                                </div>

                                <button class="btn shadow-lg app-btn" type="button" routerLink="/products">
                                    Alışveriş Yap <img src="../../../../../assets/basket.png" alt="basket-btn" height="25px"></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row mx-lg-5 px-5">
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 px-2" *ngFor="let product of products">
                            <div class="card product-card card-static shadow-lg">

                                <div class="mx-5 my-5 py-4 px-4">
                                    <img *ngIf="!product.productImageFiles.length" src="../../../../../assets/product-default.png"
                                      class="card-img-top" alt="product">
                                    <img *ngIf="product.productImageFiles.length" src="{{baseUrl.url}}/{{product.imagePath}}"
                                      class="card-img-top" alt="product">
                                </div>

                                <div class="card-body py-3">
                                    <h5 class="card-title">{{product.name}}</h5>
                                    <div class="product-price">
                                        <p class="card-text">{{product.price | currency:"₺"}} |<br> Stock : {{product.stock}}</p>
                                    </div>
                                </div>

                                <button class="btn shadow-lg app-btn" type="button" routerLink="/products">
                                    Alışveriş Yap <img src="../../../../../assets/basket.png" alt="basket-btn" height="25px"></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row mx-lg-5 px-5">
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 px-2" *ngFor="let product of products">
                            <div class="card product-card card-static shadow-lg">

                                <div class="mx-5 my-5 py-4 px-4">
                                    <img *ngIf="!product.productImageFiles.length" src="../../../../../assets/product-default.png"
                                      class="card-img-top" alt="product">
                                    <img *ngIf="product.productImageFiles.length" src="{{baseUrl.url}}/{{product.imagePath}}"
                                      class="card-img-top" alt="product">
                                </div>

                                <div class="card-body py-3">
                                    <h5 class="card-title">{{product.name}}</h5>
                                    <div class="product-price">
                                        <p class="card-text">{{product.price | currency:"₺"}} |<br> Stock : {{product.stock}}</p>
                                    </div>
                                </div>

                                <button class="btn shadow-lg app-btn" type="button" routerLink="/products">
                                    Alışveriş Yap <img src="../../../../../assets/basket.png" alt="basket-btn" height="25px"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev" (click)="carouselControl(currentCarousel==1 ? 3 : currentCarousel-1)">
            <span class="carousel-control-prev-icon shadow-lg control-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next" (click)="carouselControl(currentCarousel==3 ? 1 : currentCarousel+1)">
            <span class="carousel-control-next-icon shadow-lg control-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <h6 class="text-center"> <span style="cursor: pointer;" routerLink="/products">Ve daha fazlası ...</span></h6>
</section>
<section class=" border-top">
    <div class="my-5">
        <div class="container text-center">
            <h3 class="fw-light" *ngIf="!authService.isAuthenticated">Hala kaydolmadın mı?</h3>
            <h2 class="pb-4" *ngIf="!authService.isAuthenticated">Avantajlı bir alışveriş sizi bekliyor.</h2>
            <a class="btn app-btn btn-lg shadow-lg" type="submit" *ngIf="!authService.isAuthenticated"
                routerLink="/register">Kaydol</a>

            <h3 class="fw-light" *ngIf="authService.isAuthenticated">Alışveriş mi yapacaksın?</h3>
            <a class="btn app-btn btn-lg shadow-lg" *ngIf="authService.isAuthenticated" type="submit"
                routerLink="/products">Alışveriş Yap</a>

        </div>
    </div>
</section>