.product_create {
    height: 370px;
    margin: 5px 5px 5px;
    border: 1px solid #8D9CF4;
    background-color: #FFD9D9;
    border-radius: 10px;
  }

  .product-left-side{
    background-color:#FFAFC5 ;
}
 