.reset-psswd{
    background-image: url("../../../../assets/home_welcome.png");
}
.reset-psswd-btn, .reset-psswd-btn:active {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    opacity: 0.8;
    background-color : #fe4042   ;
}
.reset-psswd-btn:hover {
    opacity: 1;
}