<div class="row my-5">
    <div class="col-md-3"></div>
    <div class="col-md-6 rounded-3 d-flex justify-content-center" style="background-color: #a1aefb;">
        <div class="mb-3 my-5 w-75" >
            <label for="email" class="form-label">Email address</label>
           <input type="email" class="form-control my-3" id="email" placeholder="name@example.com" #txtEmail>
           <button type="submit" class="btn login-btn my-3"   style="border-radius:25px; margin-left:5px; background-color: #687cf1;"
           (click)="passwordReset(txtEmail.value)">Giriş
            Yap</button>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>