.footer-btn, .footer-btn:active {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    opacity: 0.8;
    background-color : #fe4042   ;
}
.footer-btn:hover {
    opacity: 1;
}