table {
    width: 98%;
    background-color: #fdc9c9;
    margin: 5px;

    
  }
  mat-paginator {
    font-size: 12px;
    background-color: #f8a2b9;
    border-radius: 10px;
    margin: 5px 5px;
  }  
  td, th {
    font-size: 12px;
  }